html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  font-size: 1.125em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  padding: 2em 0;
}

h1 {
  margin: 0;
  text-align: center;
  color: #fff;
}

.nav {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1em;
}

.nav a {
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em .75em;
  background-color: #d05c2e;
  border-top: 3px solid #a63f38;
  border-right: 3px solid #a63f38;
}

.nav a:hover {
  background-color: #a63f38;
}

.left, .right {
  width: 50px;
  display: block;
  margin: 0;
}

.left {
  position: absolute;
  left: 40px;
  top: 20px;
}

.right {
  position: absolute;
  right: 40px;
  top: 20px;
}

img {
  width: 100%;
}

.legumes a {
  border-right: 0;
}
